.staw
	width 100%
	&__holder
		display block
		overflow hidden
		position relative
	&__roller
		transform translateX(0)
		display flex
		transition .3s ease-in-out
	&__dots
		display flex
		align-items center
		justify-content center
	&__dot
		width 7px
		height 7px
		border-radius 50%
		background-color #fff
		margin 0 4px
		cursor pointer
		&--active
			background-color #000
	&__arrow
		position absolute
		top 0
		bottom 0
		margin auto 0
		width 12px
		height 12px
		border-top 3px solid #979797
		border-left 3px solid #979797
		opacity 1
		transition opacity ease-in-out .3s
		cursor pointer
		&--disabled
			opacity 0
			pointer-events none
		&--prev
			left 7px
			transform rotate(-45deg)
		&--next
			right 7px
			transform rotate(135deg)
